body {
    background-color: #787878;
    color: white;
    font-weight: bold;
    text-align: center;
}



/*TABLERO*/
.board {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    margin: 20px;
    justify-content: center;
}

/* CASILLAS */
.box {
    width: 200px;
    height: 200px;
    font-size: 100px;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #858585;
    color: #8f8e8e;
    cursor: pointer;
}

.winner {
    color: green;
    font-weight: bold;
    text-decoration-line: underline;
}