/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';


/*TABLERO*/
.board {
    display: grid;
    margin: 20px;
    justify-content: center;
}

/* CASILLAS */
.box {
    width: 60px;
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    background-color: #757575;
    border: 2px solid black;
    cursor: pointer;

    /* BOTON */
    button.btn {
        font-weight: bold;
        cursor: pointer;
    }

}